name: CI

on:
  push:
    branches:
      - "**"
    paths-ignore:
      - "README.md"
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_DB: hac_book
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U user"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build
        env:
          DB_URL: jdbc:postgresql://localhost:5432/hac_book
          DB_USERNAME: user
          DB_PASSWORD: password
          SPRING_PROFILES_ACTIVE: dev
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
